.container {
  background: aquamarine;
  height: 100vh;
  color: white;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -moz-flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row nowrap; /*direction & wrap 합친거 */
  justify-content: center;
  align-items: center;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.item {
  width: 40px;
  height: 40px;
  border: 1px solid blue;
  /* flex-grow: 1;
  flex-shrink: 1; */
}
.item:nth-child(1) {
  flex-basis: 150px;
}
.item:nth-child(2) {
  flex-basis: 50%;
}
.item:nth-child(3) {
  flex-basis: 110px;
}
.item1 {
  background: red;
  /* padding: 20px; */
}
.item2 {
  background: orange;
  /* flex-grow: 3; */
}
.item3 {
  background: yellow;
  /* flex-shrink: 35; */
}
.item4 {
  background: green;
}
.item5 {
  background: skyblue;
}
.item6 {
  background: blue;
}
.item7 {
  background: darkblue;
}
.item8 {
  background: purple;
}
.item9 {
  background: black;
}
.item10 {
  background: hotpink;
}
